
*.csv
baseball
bbm
bbw
docs
ih
other
professional
soccer
softball
web

# the paper
paper/*
!paper/2023bracket.png
!paper/bracket.tex
!paper/bracket.bib
references

# the presentations
presentations/*
!presentations/bracket.tex

# the website
html/*
!html/index.html
!html/script.js
!html/style.css

.idea
apicache-py3
pywikibot.lwp
throttle.ctrl
*.tex
